.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #00000091;
  z-index: 9999;
}

.content {
  position: relative;
  background-color: #fff;
  max-width: 400px;
  border-radius: 15px;
  margin: 100px auto;
  min-height: 300px;
  padding: 50px 30px 20px;
}

.btnBack {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.title {
  font-weight: 600;
  font-size: 2rem;
  color: var(--color-text);
  text-align: center;
  margin-bottom: 30px;
}