.infoAboutBoard {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.rowLeft {
  display: flex;
  align-items: center;
  gap: 18px;
}

.title {
  color: #0D062D;
  font-size: 4.6rem;
  font-weight: 600;
  margin-right: 4px;
}

.btn {
  background-color: #fff;
}

.rowRight {
  display: flex;
  align-items: center;
  gap: 20px;
}