.row {
  display: flex;
  align-items: start;
}

.app {
  padding-top: 30px;
}

.container {
  background-color: #fff;
  max-width: 1440px;
  margin: 0 auto;
  border-radius: 30px;
}

.wrap {
  background-color: #fff;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 20px;
}