.user {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 30px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: end;
  justify-content: center;
}

.name {
  color: #0D062D;
  font-size: 1.6rem;
}

.location {
  font-size: 1.4rem;
  color: var(--color-text);

}

.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}